@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
  font-weight: 800;
  font-style: normal;
  margin: 0 !important;
}

h5 {
  margin-bottom: 8px !important;
}

p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.max-height {
  height: calc(100vh - 70px - 32px);
}

.overflow-y {
  overflow-y: auto;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.behind {
  object-fit: cover;
  width: 158px;
  height: 158px;
  border-radius: 100%;
  background-color: aqua;
}

.center {
  padding-top: 20vh;
}

.thumbnail {
  width: 100px;
  height: 100px;
  max-width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.myCard {
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 6px 25px 0px;
}

button {
  color: rgb(209, 209, 209);
}

button:hover {
  color: black;
}

.navbar-toggler {
  border: 0px !important;
}

.assignBonusButton {
  color: rgb(255, 255, 255);
}

nav>div>button {
  padding: 0 !important;
}

/* blob */
body {
  height: 100vh;
  background: white;

}

.triangle {
  width: 300px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(84.98% 85.72%,1.57% 62.43%,63.45% 1.84%);
  background-color: black;
  position: absolute;
  left: 70%;
  top: 50%;
  z-index: -1;
}

.starburst {
  background-color: black;
  position: absolute;
  width: 150px;
  /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(100% 50%, 66.57% 53.78%, 95.05% 71.69%, 63.29% 60.6%, 81.17% 89.09%, 57.38% 65.32%, 61.13% 98.75%, 50% 67%, 38.87% 98.75%, 42.62% 65.32%, 18.83% 89.09%, 36.71% 60.6%, 4.95% 71.69%, 33.43% 53.78%, 0% 50%, 33.43% 46.22%, 4.95% 28.31%, 36.71% 39.4%, 18.83% 10.91%, 42.62% 34.68%, 38.87% 1.25%, 50% 33%, 61.13% 1.25%, 57.38% 34.68%, 81.17% 10.91%, 63.29% 39.4%, 95.05% 28.31%, 66.57% 46.22%);
  left: 15%;
  top: 10%;
  z-index: -1;
  /* adjust to control the size */
}

.square {
  background-color: black;
  position: absolute;
  left: -5%;
  top: 70%;
  z-index: -1;
  width: 200px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(91.35% 78.1%,21.9% 91.35%,8.65% 21.9%,78.1% 8.65%);
}

.circle {   
  height: 130px;
  background: blue; 
  background-color: black;
  position: absolute;
  left: 78%;
  top: 5%;
  z-index: -1;
  width: 250px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(91.35% 78.1%,21.9% 91.35%,8.65% 21.9%,78.1% 8.65%);
}