@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
  font-weight: 800;
  font-style: normal;
  margin: 0 !important;
}

h5 {
  margin-bottom: 8px !important;
}

p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.max-height {
  height: calc(100vh - 70px - 48px);
}

@media screen and (max-width: 990px) {
  .max-height {
    height: calc(100vh - 52px - 48px);
  }
}

.overflow-y {
  overflow-y: auto;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.behind {
  object-fit: cover;
  width: 158px;
  height: 158px;
  border-radius: 100%;
  background-color: aqua;
}

.center {
  padding-top: 20vh;
}

.thumbnail {
  width: 100px;
  height: 100px;
  max-width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.thumbnail-small {
  width: 50px;
  height: 50px;
  max-width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.myCard {
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 6px 25px 0px;
}

button {
  color: rgb(209, 209, 209);
}

button:hover {
  color: black;
}

.navbar-toggler {
  border: 0px !important;
}

.assignBonusButton {
  color: rgb(255, 255, 255);
}

nav>div>button {
  padding: 0 !important;
}

/* scritta dinamica */

#typewriter-effect {
  font-size: 2rem;
  font-weight: bold;
}

.cursor {
  display: inline-block;
  width: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}